#page-content {
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: relative;
  z-index: 1;
}


body.transition-up #page-content {
  opacity: 0;
  transform: translateY(-100px);
}


body.transition-down #page-content {
  opacity: 0;
  transform: translateY(100px);
}


body.animate-in.transition-up #page-content {
  opacity: 0;
  transform: translateY(100px);
}
body.animate-in.transition-up #page-content.show {
  opacity: 1;
  transform: translateY(0);
}


body.animate-in.transition-down #page-content {
  opacity: 0;
  transform: translateY(-100px);
}
body.animate-in.transition-down #page-content.show {
  opacity: 1;
  transform: translateY(0);
}
